/** Estilos para la vista principal */

/*
Colors: 
{ #d4cdc5 } // Beige claro      // Fondos secundarios
{ #5b88a5 } // Azul medio       // Elementos interactivos
{ #f4f4f2 } // Blanco grisáceo  // Fondo Principal
{ #191013 } // Casi negro       // Texto principal
{ #243a69 } // Azul oscuro      // Header/Footer
*/

/* Estilo base para el contenedor principal */
.main {
    -fx-background-color: #f4f4f2; /* Fondo claro */
    -fx-border-color: #c4c4c2; /* Borde gris */
    -fx-border-radius: 10; /* Bordes redondeados */
    -fx-border-width: 0.5;
}

/* Estilo para panel de contenido */
#contentPane {
    -fx-background-color: #f4f4f2;
    -fx-border-style: none;
}

/* Estilo para la barra de control de la aplicación */
#controlApp {
    -fx-background-color: #f4f4f2; /* Fondo gris oscuro */
    -fx-border-color: #c4c4c2; /* Borde gris */
    -fx-background-radius: 10 10 0 0; /* Bordes redondeados solo arriba */
    -fx-border-radius: 10 10 0 0;
    -fx-border-width: 0.5 0.5 0 0.5; /* Grosor del borde */
}

/* Estilo para el botón de cerrar */
#btn_close {
    -fx-font-size: 13; /* Tamaño de fuente */
    -fx-background-color: transparent; /* Fondo transparente */
    -fx-text-fill: #888; /* Texto gris */
    -fx-background-radius: 10; /* Bordes redondeados en la esquina superior derecha */
}

/* Efecto hover para el botón de cerrar */
#btn_close:hover {
    -fx-background-color: #ff5f57; /* Fondo rojo */
    -fx-text-fill: #bfbfbf; /* Texto gris claro */
}

/* Estilo para el botón de minimizar */
#btn_minimize {
    -fx-font-size: 13; /* Tamaño de fuente */
    -fx-background-color: transparent; /* Fondo transparente */
    -fx-text-fill: #888; /* Texto gris */
    -fx-background-radius: 10; /* Sin bordes redondeados */
}

/* Efecto hover para el botón de minimizar */
#btn_minimize:hover {
    -fx-background-color: #d4d4d4; /* Fondo gris oscuro */
}

/* Elimina el foco visual en los botones de cerrar y minimizar */
#btn_close:focused, #btn_minimize:focused {
    -fx-focus-color: transparent; /* Sin borde de foco */
    -fx-faint-focus-color: transparent; /* Sin borde de foco claro */
}

/* Estilo cuando los botones están presionados */
#btn_close:pressed, #btn_minimize:pressed {
    -fx-text-fill: #888; /* Texto gris */
    -fx-background-color: transparent; /* Fondo transparente */
}